@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #fff;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    color: var(--color-primary);
    text-transform: uppercase;
}

.logo p {
    font-family: 'Rubik', sans-serif;
    font-size: .8em;
    color: var(--color-text);
}

.menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #7691a8cc;
}

.destaque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
    background-color: var(--background1);
    flex-wrap: wrap;
}


.info-destaque {
    margin-right: 40px;
    margin-left: 50px;
    max-width: 50%;
}

.info-destaque h2.sub-destaque {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 1.4em;
    color: var(--color4);
    margin-top: 20px;
    padding-bottom: 50px;
    text-transform: uppercase;
    display: flex;
    align-self: flex-start;
}

.info-destaque h1 {
    font-family: 'Rubik';
    font-size: 2em;
    font-weight: 500;
    color: #043a69;
    text-shadow: 0px 2px 5px #1c406baf;
    text-transform: uppercase;
    line-height: 64px;
    letter-spacing: 4px;
    padding-bottom: 14px;
}

.info-destaque p {
    font-family: 'Montserrat';
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 26px;
    line-height: 32px;
    padding-bottom: 10px;
    text-align: left;
}

.info-destaque a {
    font-family: 'Montserrat';
    font-size: 0.9em;
    font-weight: 500;
    padding: 14px;
    text-decoration: none;
    color: #fff;
    background-color: #043a69;
    border-radius: 6px;
    transition: ease-in 0.3s;
}

.info-destaque a:hover {
    background-color: #024f92cc;
    border-radius: 6px;
}

.btn-contato {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-secondary);
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-contato:hover {
    background-color: var(--color-primary);
}

.btn-contato img {
    padding-right: 8px;
    width: 28px;
}

.img-destaque {
    position: relative;
    display: inline-block;
    padding: 30px;
    background-image: url("/src/imagens/placeholder.png"), url("/src/imagens/frame2.png");
    background-repeat: no-repeat;
    background-position: top center, center center;
    background-size: 82%;
    max-width: 40%;
}

.img-destaque img {
    display: block;
    visibility: hidden;
    max-width: 100%;
}

.titulo-carrossel {
    justify-self: center;
    font-weight: 500;
    color: var(--color-tertiary);
}

.carrossel-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.card {
    background-color: #fff;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card img {
    width: 50px;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 10px #bda398;
}

.btn-carrossel {
    display: flex;
    margin: 36px;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-tertiary);
    transition: 0.3s ease;
}

.btn-carrossel:hover {
    background-color: #ec9c9c;
}

.btn-carrossel a {
    text-decoration: none;
    color: #fff;
    align-self: center;
    margin-left: 10px;
    font-size: 1.1em;
    
}

.btn-carrossel img {
    width: 25px;
}

.titulo-sobre {
    margin: 50px 50px 10px 50px;
    font-size: 1.7em;
    font-weight: 500;
}

.sobre {
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.info-sobre {
    display: flex;
    align-items: stretch;
    gap: 20px;    
}

.img-sobre {
    border-radius: 16px;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.txt-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.txt-sobre {
    flex-grow: 1;
    font-size: 1rem;
    line-height: 1.7;
    max-height: 100%;
    overflow: hidden;
    color: var(--color-text);    
}

.btn-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 8px 8px;
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;   
}

.btn-sobre:hover{
    background-color: var(--color-secondary);
    
}

.btn-sobre img {
    width: 24px;
    height: 24px;
}

.btn-sobre a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    border-radius: 5px;      
}

.atendimento {
    margin: 140px 10px 80px 10px;
    padding: 50px 20px;
    text-align: center;
    max-width: 100vw;
}

.titulo-atd {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: var(--color-tertiary);
    margin-bottom: 14px;
}

.info-atd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.atd {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
}

.atd h3 {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--color-tertiary);   
}

.atd p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.atd:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d89b9b;
    margin: 40px 0 0 0;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    padding: 10px;
}

.contato h2 {
    margin-bottom: 26px;
    color: var(--color-primary);
    font-size: 1.5em;
    text-align: center;
}

 .info-contato {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--color-primary);
    box-shadow: 0 2px 10px rgba(23, 18, 94, 0.432);
    border-radius: 10px;
    padding: 75px;
}

.dados {
    max-width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-wpp-contato {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    margin-top: 86px;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
}

.btn-wpp-contato img {
    width: 24px;
}

.btn-wpp-contato:hover {
   background-color: var(--color-secondary);
} 

.btn-wpp-contato a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin-left: 5px;
}

.redes-sociais {
    display: flex;
    margin-top: 50px;
}

.redes-sociais img {
    width: 46px;
    margin: 16px;
}

.aviso {
    display: flex;
    max-width: 40%;
    height: 100%;
    background-color: var(--color-secondary);
    padding: 38px;
    border-radius: 5px;
    align-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aviso p {
    font-size: 1em;
    color: #fff;
    line-height: 2.7;
    text-align: justify;
}

footer {
    background-color: #333333ad;
    color: #fff;
    text-align: center;
    padding: 8px;
    margin-top: auto;
}

footer p {
    font-size: 0.9em;
}